<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Contacts">
	
	<insert id="insert">
		insert into contacts values(contacts_seq.nextval, #{name}, #{phone})
	</insert>
	
	<delete id="deleteBySeq">
		delete from contacts where seq = #{seq}
	</delete>
	
	<update id="updateBySeq">
		update contacts set name = #{name}, phone = #{phone} where seq = #{seq}
	</update>
	
	<select id="getAllList" resultType="com.kedu.dto.ContactsDTO">
		select * from contacts
	</select>
</mapper>