@charset "UTF-8";

* {
	box-sizing: border-box;
}

/* 컨테이너 */
.container {
	width: 600px;
	margin: auto;
	border-radius: 10px;
	background: white;
	padding: 20px;
	position: relative;
}

.container::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 12px;
	background: linear-gradient(180deg, rgb(88, 17, 194), rgb(255, 85, 215));
	z-index: -1;
}

.container div {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

/* 로그인 헤더 */
.login_header {
	color: rgb(125, 28, 217);
	font-weight: 600;
	font-size: 20px;
}

/* 아이디, 비밀번호 input */
.login_input {
	width: 80%;
}

.input_div {
	text-align: right;
}

/* 로그인 버튼 */
.login_btns {
	gap: 5px;
}

.login_btn, .join_btn {
	width: 100px;
	background: linear-gradient(135deg, rgb(155, 93, 248), rgb(255, 85, 215));
	color: white;
	border: 0;
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* 로그인시 btns */
.btns{
	display:flex;
	gap: 5px;
}